.button {
    background-color: var(--accent-color);
    @include font();
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    width: 200px;
    height: 50px;
    border: 1px var(--accent-color);
    border-radius: 4px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(77, 57, 57, 0.15);

    &:hover,
    &:focus {
    background-color: #188ce8;
  }
  }

  

   
    .button-centr {
    display: flex;
    justify-content: center;
  }
  
  .snap {
    display: flex;
  flex-wrap: wrap;
  margin: -4px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}


  // font-family: "Roboto", sans-serif;
//   cursor: pointer;

//   @include font($fw:500);
//   line-height: 1.63;
//   letter-spacing: 0.03em;
//   color: var(--secondary-title-color);
//   list-style: none;
//   text-decoration: none;
//   letter-spacing: 0.03em;
//   color: #212121;
//   display: flex;

//   justify-content: center;
//   margin-bottom: 50px;
// }
.snap-all:hover,
  .snap-all:focus {
  background-color: var(--accent-color);
}
.task {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}


//   font-family: "Roboto", sans-serif;
//   cursor: pointer;
//   @include font($fw:500);
//   line-height: 1.63;

//   padding-left: 22px;
//   padding-right: 22px;
//   padding-top: 6px;
//   padding-bottom: 6px;
//   border: none;
//   border-radius: 4px;
//   transition-property: background-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   color: var(--second-text-color);
//   background-color: var(--accent-color);
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
// }
// }
// .pin:not(:last-child) {
//   margin-right: 8px;
// }

