

.social--team {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.social__link--team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}

.social__icon--team {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: currentColor;
}










.social-list {
    display: flex;
    justify-content: center;
  }
  
  .social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
     
  .social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
    &:hover .social-icon,
    &:focus .social-icon {
    fill: #ffffff;
  
  }
  }
  .social-icon {
    fill: #afb1b8;
  }