p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}

.body {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.psevdo {
  display: none;
}
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  list-style: none;
  text-decoration: none;
}