:root {
  --primary-grey-color: #757575;
  --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --header-black-color: #212121;   
  --background-color: #f5f4fa;
}
  
  