:root {
  --header-color: #212121;
  --logo-color: #000000;
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
}