.footer-subscribe {
    display: block;
    margin-left: 93px;
    
  }
  .footer-subscribe-invite {
    @include font($fs:14px);
    
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .footer-subscribe-section {
    display: flex;
    justify-content: center;
  }
  .footer-subscribe-form {
    margin-right: 12px;
  }
  
  .footer-subscribe-input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--primery-title-color);
    padding: 15px 295px 15px 16px;
    background-color: #2f303a;
  }
  .footer-subscribe-button {
    display: flex;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: bold;
    width: 200px;
  
    height: 50px;
    padding: 10px 29px;
  
    border-radius: 4px;
    border-color: transparent;
  
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  
  .footer-subscribe-icon {
    fill: var(--primery-title-color);
    margin-left: 10px;
  }
  