


.header {
  background-color: var(--primery-title-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
         padding-top: 21px;
       padding-bottom: 21px;
      }
      @media screen and (min-width: 1200px) {
       padding-top: 24px;
       padding-bottom: 24px;
     }
     }

.header-container {
  display: flex;

  align-items: center;
  @media screen and (max-width: 767px) {
     justify-content: space-between;
  }
}


.header-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
        display: none;
      }
    }

  

.current::after {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  left: 0;
  bottom: -32px;
  background-color: var(--accent-color);
}

.header-com {
  display: flex;
  margin-left: auto;
  align-items: center;
  list-style: none;
  text-decoration: none;
}


.header-com__items{
  @media screen and (max-width: 767px) {
        display: none;
       }
      @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        margin-left: auto;
     }
      @media screen and (min-width: 1200px) {
        display: flex;
         margin-left: auto;
      }
     }


.header-com__contact-item_header-mailto {
  @include font($fw:500, $fs:14px);
    
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
  color: var(--primary-text-color);
  

  &:hover,
  &:focus {
  color: var(--accent-color);
}

  &:hover .contact-icon,
  &:focus .contact-icon {
  fill: var(--accent-color);
}
}
.header-com__contact-item{
  @include font($fw:500, $fs:14px);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  list-style: none;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
 
  margin-left: 50px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  
  &:hover .contact-icon,
  &:focus .contact-icon {
    fill: var(--accent-color);
  }
  }
  .banner:not(:last-child) {
    margin-right: 50px;
  }
  .header-com__items{
    @include font($fw:500, $fs:14px);
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
    align-items: center;

  }
  .items {
    display: flex;
  margin-left: auto;
    
  }
  .contact-icon {
    fill: #757575;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-nav__list{
    @include font($fw:500, $fs:14px);
    
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
  }
  .header-nav__link {
    color: var(--accent-color);
    list-style: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: var(--header-color);
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .menu-link {
    position: relative;
    
    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
  .current {
    color: var(--accent-color);
  
    &::after {
      display: block;
      position: absolute;
      content: "";
      height: 4px;
      width: 100%;
      border-radius: 2px;
      left: 0;
      bottom: -32px;
      background-color: var(--accent-color);
    }
  }
  
  
  